body{
    margin: 0;
    padding: 0;
    line-height: 2.5px;
    background: #6F00F4;
background: -webkit-linear-gradient(top left, #6F00F4, #BD74DB);
background: -moz-linear-gradient(top left, #6F00F4, #BD74DB);

}
.calci{
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.25px;
    text-align: center;
}
#display{
    border: none;
    background: white;
    border-radius: 30px;
    width: 230px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    height: 60px;
    margin: auto;
    border: 2px solid rgb(12, 11, 11);
    color: rgb(7, 4, 4);
}
form{
     margin-top:25  px; 
}
.form_flex{
    display: flex;
    
}
.main_flex{
    display: flex;
    flex-direction:column;
    margin: 5% 2%;
    text-transform: uppercase;
    font-weight :700px; 
    justify-content:center;
    align-items:center;
}
.btnDesign{
    width: 55px;
    height: 55px;
    background: white;
   padding-top: -1px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
    transition: 0.25px;
    cursor:pointer;
}
.btnDesign:hover{
    background: #2097ac;
}
.operatorDesign{
    width: 55px;
    height: 55px;
    background: white;
    padding-top:-1px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight:bold;
    border-radius: 30px;
    margin: 1.5;
    transition: 0.25px;
    cursor: pointer;
    
}
.operatorDesign:hover{
    background: #5fd8ee;
}
#zero{
    width: 116px;
    height: 55px;
    background: white;
    padding-top:-1px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5; 
    cursor: pointer;
}